<html>
<head>
	<title>Airbnb Registration</title>
</head>
<body>

	<div>
		{% for message in messages %}
		<p>{{message}}</p>
		{% endfor %}
	</div>

	<form action="register" method="post">
		{% csrf_token %}
		<input type="text" name="username" placeholder="Username"><br>
		<input type="text" name="first_name" placeholder="First Name"><br>
		<input type="text" name="last_name" placeholder="Last Name"><br>
		<input type="email" name="email" placeholder="Enter Correct Email"><br>
		<input type="password" name="password1" placeholder="Password"><br>
		<input type="password" name="password2" placeholder="Enter Password Again"><br>
		<input type="submit">
	</form>

</body>
</html>